<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div id="header">
            <div id="title" class="text">
                Pollbooth
            </div>
            <div id="to_right">
                    <a href="{{url_for('login')}}"><div id="box" class="text">Login</div></a>
                    <a href="{{url_for('register')}}"><div id="box" class="text">Register</div></a>
            </div>
        </div>

        {% block content %}
        {% endblock %}
    </body>  
    <div class = "flashed">
        {% with messages = get_flashed_messages() %}  
        {% if messages %}  
              {% for message in messages %}  
                   <div class="text">{{ message }}</div> 
              {% endfor %}  
        {% endif %}  
     {% endwith %}  
    </div>
</html>
