{% extends "admin_base.html" %}

{% block content %}
<div id="form">
    <form method="POST">
        <div class="text">Poll Title</div><input name="title" placeholder="poll title">
        <div class="text">Question</div><input name="question" placeholder="question">
        <div class="text">Team ID</div><input name="team_id" placeholder="team id">
        <div id="options">
            {% for i in range(option) %}
            <div class="text">Option {{i+1}}</div>
            <input name="option-{{i+1}}" placeholder="option {{i+1}}">
            <input name="removeopt" type="submit" value="Remove">
            {% endfor %}
        </div>
        <br>
        <input name="addoption" type="submit" value="Add option">
        <br><br>
        <input name="submit" type="submit" value="Submit">
    
    </form>
</div>

<script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}