{% extends "user_base.html" %}
 {% block content %}
    <div class="text">{{poll.title}}</div>
    {% if response == None %}
    <div id="form">
        <form method="POST">
            <div class="text">{{poll.question}}</div>
            <div class="option">
            {% for option in poll.options %}
                {% if option != "" %}
                    <input name="option" type="checkbox" value="{{option}}" class="poll_checkbox" id="{{option}}" onclick="check(this)">
                    <div class="text"><label for="{{option}}">{{option}}</label></div>                
                {% endif %}    
            {% endfor %}
            <input type="submit" value="Vote" name="vote">  
            </div>
            
        </form>
    </div>
{% else %}
    <div class="text">Looks like you have filled this form already<br><br>{{poll.question}}<br><br>Your choice: {{response['options']}}</div>
{% endif %}
<script>
    function check(checkbox){
        var checkboxes = document.querySelectorAll('.poll_checkbox')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked =  false})
    }
</script>

 {% endblock %}