<html>
    <head>
        <title>
                {{user.username}}
            </title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
</html>
<div id="header">
<a href="/">Home</a>
<a href="/join_team">Join a team</a>
<a href="/logout">Logout</a>
</div>

{% block content %}
{% endblock %}

{% with messages = get_flashed_messages() %}  
{% if messages %}  
      {% for message in messages %}  
           <p style="color: red;">{{ message }}</p>  
      {% endfor %}  
{% endif %}  
{% endwith %}  